    <!-- mask -->
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="row text-white">
                <div class="col spinner-border me-3" role="status"></div>
            </div>
        </div>
    </div>