<div class="container pt-4">
    <section class="mb-4">
        <div class="card">
            <div class="card-header py-3">
                <h5 class="mb-0 text-center"><strong>CHANGE PASSWORD</strong></h5>
            </div>
        </div>
    </section>

    <div class="container">
        <!-- start -->
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-12">
                <form action="/admin/users/change-password" method="post" id="changePasswordForm">
                    <div class="card" id="changePasswordModal">
                        <div class="card-header">
                            <h5 class="modal-title" id="exampleModalLabel">Change password</h5>
                        </div>
                        <div class="card-body">
                            <input type="hidden" name="id" value="<%= userId %> ">
                            <div class="row mb-4">
                                <div class="col-md-6 col-sm-12">
                                    <input type="password" id="password" class="form-control" name="password" placeholder="Password..." />
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <input type="password" class="form-control" name="retype" placeholder="Retype..." />
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary" id="changePasswordBtn">Change password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end -->
    </div>
</div>

<script src="/asset/js/site/user/change-password.js"></script>

<%- contentFor('pageTitle') %>
Change password